.contact-container {
    display: flex;
}

.contact-content {
    flex-grow: 1; /* Allows the content area to take up remaining space */
    padding: 40px; /*padding: 20px;*/
    padding-left: 300px; /* Same as Sidebar width to avoid overlap */
    background-color: #f5f7fa;
}


.gmail-frame {
    margin-top: 20px;
    /* Additional styles if needed */
}

/* Contact.css */
.gmail-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #4285f4;
    color: white;
    text-decoration: none;
    border-radius: 4px;
    font-weight: bold;
    margin-top: 20px;
}

.gmail-button:hover {
    background-color: #357ae8;
}
